# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.sqlite3

# Node
node_modules/
build/
dist/

# System files
.DS_Store
.env

# Model files and data (to avoid GitHub push issues)
backend/models/model_output/
backend/models/*.pt
backend/models/*.bin
backend/models/*.csv
*.h5
*.log
*.ckpt

# VS Code
.vscode/
