# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.sqlite3

# Node
node_modules/
build/
dist/

# System files
.DS_Store
.env

# VS Code
.vscode/
# Ignore model files
backend/models/Fake-News-Bert-Detect/*
!backend/models/Fake-News-Bert-Detect/README.md